<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="NormalMiningHotKey" value="3"/>
      <add key="TunnelMiningHotKey" value="6"/>
      <add key="UpMiningHotKey" value="5"/>
      <add key="DownMiningHotKey" value="4"/>
      <add key="DelayValue" value=""/>
      <add key="InitialDelayValue" value="5"/>
      <add key="NumberOfQueues" value="3"/>
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  
</configuration>